
/* live message */

#live_message{
    /* border: 2px solid red; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    left: 92%;
    bottom: 8px;
    z-index: 100;
}

#live_message >div >  img{
    width: 100%;
    cursor: pointer;
}

#live_message >div{
    /* border: 2px solid black; */
    position: relative;
}

#open_window{
    /* border: 2px solid red; */
    position: absolute;
    width: 380%;
    right: -2px;
    top: -221px;
    height: 290px;
    background-color: #fff;
    display: none;
    z-index: 100;
}


#open_window > div > div:nth-child(1){
    background-color: #0046be;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8px;
}

#open_window > div > div:nth-child(1) > h5{
   font-weight: 100;
}
#open_window > div > div:nth-child(1) > p:hover{
color: #bb0628;
cursor: pointer;
}

#open_window > div > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px 10px 10px;
    color: rgb(58, 56, 56);
    font-weight: 100;
}


#message_append{
    width: 100%;
    height: 150px;
    /* border: 1px solid blue; */
}

#open_window > div > div:nth-child(4){
    display: flex;
    align-items: center;
    margin: auto;
    /* border: 2px solid maroon; */
    width: fit-content;
    margin-top: 5px;
}

#open_window > div > div:nth-child(4) > input{
    border: none;
    outline: none;
    padding-left: 10px;
}
#open_window > div > div:nth-child(4) > button{
    border: none;
    outline: none;
    padding-left: 10px;
    color: rgb(58, 56, 56);
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}

#open_window > div > div:nth-child(4) > button:hover{
   color: #062e79;
}

.message_show{
    display: block;
}